# Raw datasets
data/raw/
*.csv

# Archives
*.zip

# Python/Jupyter temporary files
.ipynb_checkpoints/
__pycache__/
*.py[cod]

# Local Anaconda files
anaconda_projects/

# Operating-system files
.DS_Store
Thumbs.db